* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.img{
    width: 100%;
    height: 50vh;
    position: fixed;
    z-index: -1;
}
.img1 {
    top: 0;
    left: 0;
}
.img2 {
    top: 50vh;
    left: 0;
}

h1 {
    padding: 5px 15px;
    background-color: #222;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1, .box3 {
    background-color: #0005;
    height: 200px;
}
.box2, .box4 {
    background-color: #ccc;
    height: 400px;
}
.box4 {
    background-color: #ccc;
    height: 200px;
}
