* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h2 {
  background-color: #222222;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

.box {
  width: 100%;
  background-color: #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box1 {
  height: 300px;
}

.parallax {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parallax1 {
  background-image: url("../../images/bg_003.jpg");
}

.parallax2 {
  background-image: url("../../images/terminal.jpg");
}

.box2, .box3 {
  height: 500px;
}
